table , thead, tbody, tr, td, th{
    border: 2px dotted green;
    border-collapse: collapse;
}
table tbody{
    background-color: yellow;
}
table tbody tr:nth-child(2n-1){
    background-color: lightblue;
}
table tbody tr:hover{
    color: red;
    font-weight: bold;
}
